ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.danhmuc-lienket {
  color: white;
  text-decoration: none;
  margin: 50px auto;
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
}
nav {
  background-color: #005faf;
}
.border {
  border-right: 2px solid gray;
}
.banner-qc {
  display: flex;
  justify-content: center;
}
.qc {
  display: flex;
  justify-content: space-between;
}
header {
  border-bottom: 5px solid gray;
}
.box {
  display: flex;
  width: 150px;
  height: 200px;
}
