body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  color: white;
}

header {
  background-color: black;
  width: 100%;
  height: 10vh;
  display: flex;
  margin: auto;
}

.container {
  width: 70%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
.t-trai {
  display: flex;
  list-style: none;
  /* gap: 20px; */
  margin: 0px;
  padding: 0px;
}
.t-trai img {
  width: 100px;
  height: 50px;
}

.t-trai li {
  margin-right: 18px;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.t-phai {
  display: flex;
  list-style: none;
  padding: 0px;
}
.t-phai li {
  margin-left: 18px;
  font-size: 17px;
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
main {
  width: 70%;
  background-color: rgb(20, 20, 20);
  height: 100%;
  margin: auto;
}
footer {
  width: 70%;
  margin: auto;
}
.mainbanner1 img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}
.mainbanner2 img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}
.mainbanner3 img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}
.cayphim1 {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 20px 8px 16px 0px;
}
.tenphim1 {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.anh img {
  width: 100%;
  height: 85%;
  border-radius: 10px;
}
.moira {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.moira img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.phimkinhdi {
  margin-top: 60px;
}
.kinhdi {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.kinhdi img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.phimviet {
  margin-top: 70px;
}
.VN {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  height: 300px;
}
.VN img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.thongtin {
  display: flex;
  margin-top: 80px;
  border-top: solid rgb(113, 110, 110) 2px;
  justify-content: space-between;
}
.dulieu {
  margin-top: 50px;
  border-top: solid rgb(113, 110, 110) 2px;
}
.mainbanner2 {
  position: relative;
}

.banner {
  position: absolute;
  bottom: 0%;
  z-index: 10;
  color: white;
  width: 100%;
}

.xemngay {
  background-color: rgb(205, 88, 45);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.trailer {
  width: 80px;
  height: 30px;
  background-color: rgb(205, 88, 45);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
}
.ttgt {
  display: flex;
  gap: 15px;
}
